 <div class="center hero-unit">
    <%= image_tag("logo.png", alt: "AleSpace") %>
    <h1>Welcome to AleSpace!</h1>

    <h2>
      Bringing beer enthusiasts together to share their cellars and connect with other beer drinkers.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-warning" %>
  </div>
